/* CSS Document */
td{
width:400px;
height:200px;}
a:link
{
color:#acf6ef;
text-decoration:none;}
.box
{margin:0 auto;
width:1000px;
height:1000px;
}
.logo{
width:200px;
height:100px;
background-image:url(../picture/logo.jpg);
float:left;}

.daohang{
width:800px;
height:100px;
background-color:#00CC99;
float:left;
}
.首页{width:200px;
height:100px;
float:left;
}
.购物车{width:200px;
height:100px;
float:left;
}
.退出{width:200px;
height:100px;
float:left;
}
.帮助{width:200px;
height:100px;
float:left;
}
.top{
width:1000px;
height:100px;}
.news{
width:1000px;
height:50px;
background-color:#cb99c5;}
.picture{
width:1000px;
height:200px;
background-image:url(../picture/购物.jpg);}
.Commodity{
width:1000px;
height:600px;}
.different{
width:200px;
height:600px;
background-color:#cb99c5;
float:left;}
.information{
width:800px;
height:600px;
float:left;}
.bottom{
width:1000px;
height:50px;
background-color:#00CC99;
}
.in{
width:500px;
height:50px;
float:left;
}
.cx{
width:500px;
height:50px;
float:left;
}